<?xml version='1.0' encoding='utf-8'?>
<widget id="at.wifiwien.myfirstapp" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>MyFirstApp</name>
  <description>Tut nix</description>
  <author email="support@wifiwien.at" href="http://www.wifiwien.at">
    Wifiwien
  </author>
  <content src="index.html" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
  <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />

  <icon src="icon.png" />

  <platform name="android">
  </platform>


</widget>
